!!!
%html
  %head
    %title 帰れま１０
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %body
    %header.header
      .header_logos
        - if !current_page?(root_path)
          = link_to :back do
            = image_tag 'back.svg', class: 'header_back'
        %h1.header_pageTitle サイゼリヤ 帰れま10
    = yield
